@model SBMSData.ViewModels.FeatureViewModel
@{
    ViewBag.Title = "Adding a Feature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Adding a Feature</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
        }
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary save">Create</button>
            <button class="btn btn-default cancel">Cancel</button>
        </div>
    </div>
</div>

<script>
    $(".save").on("click", function () {
        Save();
    });

    $(".cancel").on("click", function () {
        location.href = "/Feature";
    });

    function Save() {
        var description = $("#Description").val();

        var feature = {
            "Description": description
        };

        $.post("/Feature/Create", feature, function (data) {
            if (data.IsOkay) {
                alert("Feature successfully created.");
                location = "/Feature";
            }
            else {
                alert("An error occurred:\r\n" + data.Error);
            }
        }, "json");
    }
</script>