@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2>Thanks for registering!</h2>
        <p>
            We've sent you an email confirming the registration of your store.
        </p>
        <p>
            This email will give you access to your store. You'll need to create an admin user there before you can get started but we'll take you through everything step by step.
        </p>
    </div>
</div>